{% extends "layout.html" %}
{% block nav_content %}
    {% if request.endpoint == request.endpoint %}
        <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('user_home')}}">Account <span class="sr-only">(current)</span></a>
          </li>
            <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('references')}}">References <span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </div>
    {% else %}
        {{ super() }}
    {% endif %}
{% endblock nav_content %}

{% block content %}
    <div class="container">
    <div class="container">
    <div class = "content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4"> Seach Referrals </legend>
                <div class="form-group">
                    {{form.job_title.label(class="form-control-label")}}
                        {% if form.job_title.errors %}
                            {{form.job_title(class="form-control form-control-lg is-invalid")}}
                                <div class="invalid-feedback">
                                    {% for error in form.job_title.errors%}
                                        <span> {{error}}</span>
                                    {% endfor%}
                                </div>
                        {% else %}
                            {{form.job_title(class="form-control form-control-lg")}}
                        {% endif%}
                </div>
                <div class="form-group">
                    {{form.company.label(class="form-control-label")}}
                    {% if form.company.errors %}
                            {{form.company(class="form-control form-control-lg is-invalid")}}
                                <div class="invalid-feedback">
                                    {% for error in form.company.errors%}
                                        <span> {{error}}</span>
                                    {% endfor%}
                                </div>
                        {% else %}
                            {{form.company(class="form-control form-control-lg")}}
                        {% endif%}
                </div>

            </fieldset>
            <div class="form-group">
                {{form.search(class = "btn btn-outline-info")}}
            </div>

        </form>

        <table class="table">
                <thead>
                    <tr>
                        <th>JOB TITLE</th>
                        <th>JOB DESCRIPTION</th>
                        <th>REFEREE EMAIL</th>
                    <tr>
                </thead>
                <tbody>
                    {% for q in query %}
                    <tr>
                        <td>{{ q[0] }}</td>
                        <td>{{ q[1] }}</td>
                        <td>{{ Ids[loop.index-1] }}</td>

                    {% endfor %}
                </tbody>
            </table>
    </div>

        </div>
        </div>
{% endblock content %}